:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* prevents scrollbars */
  height: 100%;
}

h1 {
  text-align: center;
  color: white;
}

.invisible {
  opacity: 0;
}

#video_container {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 320px;
  height: 240px;
  overflow: hidden;
  z-index: 1000;
}

#video_container video,
#video_container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}

#video_container canvas {
  pointer-events: none;
  z-index: 2;
}

#scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
}